<nav class="navbar navbar-expand">
    <a class="navbar-brand" href="#">M</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navar collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/home">Home</a>
            <a class="nav-link" routerLink="/menz-trip">Menz Trip</a>
            <a class="nav-link" routerLink="/admin">Admin</a>
        </div>
    </div>
</nav>